<h1>Hello! Welcome to your Task List!</h1>

<div class="all_tasks">
  <h2>Unfinished tasks</h2>
  <% @tasks.each do |t| %>
    <% if t.is_completed == false %>
      <div class="task_list">
        <h2 class="task_header"><%= link_to "#{ t.name }", task_path(t) %></h2>
        <%= link_to "Edit", edit_task_path(t) %>
        <br />
        <%= link_to "Delete", task_path(t), method: :delete, data: { confirm: "Are you really sure?" } %>
        <%= form_for t do |f| %>
          <%= f.hidden_field :is_completed, :value=>true %>
          <%= f.hidden_field :completed_at, :value=>Time.now %>
          <%= f.submit "Click to mark task as complete" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <h2 class="finished_tasks">Completed tasks</h2>
  <% @tasks.each do |t| %>
    <% if t.is_completed == true %>
      <div class="task_list">
        <h2 class="task_header"><%= link_to "#{ t.name }", task_path(t) %></h2>
        <%= link_to "Edit", edit_task_path(t) %>
        <br />
        <%= link_to "Delete", task_path(t), method: :delete, data: { confirm: "Are you really sure?" } %>
      </div>
    <% end %>
  <% end %>
</div>

<p class="create_new_task">
  Would you like to add a new task? If so, <%= link_to "click here", new_task_path %>
</p>
