<h1>Here is the task you have selected!</h1>

<h2> Title:
  <%= @task.name %>
</h2>

<p>
  Description:
  <%= @task.description %>
</p>

<p>
  Completion status:
  <%= @task.is_completed %>
</p>

<p>
  Completion due date:
  <%= @task.completed_at %>
</p>

<%= link_to "Return back to the list", tasks_path %>
