<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id="navbar">
      <% if current_user %>
        <%= button_to "Log out", sessions_path, method: :delete, data: { confirm: "Are you sure you want to log out?" } %>
      <% else %>
        <%= button_to "Log in with Github", '/auth/github', method: :post %>
      <% end %>
    </div>
  </header>

<%= yield %>

</body>
</html>
